<!-- see views/layouts/main.hbs for the "rest" of the HTML! -->
<h2>Tell Us About Yourself</h2>
<form action="/process-contact" method="post">
    <div>
        <label>Your name:
            <input name="name" />
        </label>
    </div>
    <br />
    <div>
        <label>Your email:
            <input name="email" type="email" />
        </label>
    </div>
    <br />
    <div>
        <label>Simulator error:
            <input type="checkbox" name="simulateError" />
        </label>
    </div>
    <br />
    <div>
        <label>Use Ajax?:
            <input type="checkbox" name="useAjax" />
        </label>
    </div>
    <br />
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<script>
    // little utility object for calling our api
    const api = {
        post(path, data) {
            const body = typeof data === 'object' ? JSON.stringify(data) : data
            const header = {
                'Content-type': 'application/json',
                'Accept': 'application/json'
            }
            return fetch(path, { method: 'POST', body, headers }).then(res => {
                if (res.status < 200 || res.status >= 400) {
                    return Promise.reject(new Error(`API error: ${res.status}`))
                }
                return res.json()
            })
        }
    }

    document.querySelector('form').addEventListener('submit', event => {
        const formData = new FormData(event.target)
        if (!formData.get('useAjax')) {
            return
        }
        event.preventDefault()
        const data = {
            name: formData.get('name'),
            email: formData.get('email'),
            simulateError: formData.get('simulateError')
        }

        api.post('/process-contact', data).then(() => {
            window.location = '/thank-you'
        }).then(() => {
            window.location = '/contact-error'
        })
    })
</script>